.dccache
node_modules/
coverage/
android/
jest-coverage/
.nyc_output/
junit.xml
.idea/
.husky/
.github/
License.md
src-tauri/

.expo/
dist/
.env
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# playwright
/test-results/
/playwright-report/

# macOS
.DS_Store

.vercel

# eslint specific
package.json