.idea/
.dccache
node_modules/
android
coverage/
jest-coverage/
.nyc_output/
junit.xml
.expo/
dist/
.env
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# playwright
/test-results/
/playwright-report/

# macOS
.DS_Store

.vercel