default_stages: [pre-commit, pre-push]
repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: npx eslint . --fix --no-warn-ignored
        always_run: true
        language: system
        verbose: false
      - id: compile
        name: compile
        entry: npm run tsc
        always_run: true
        pass_filenames: false
        language: system
        verbose: false
