
node_modules/
.idea/
.husky/
.github/

sudokuru/node_modules/
sudokuru/.expo/
sudokuru/dist/
sudokuru/.env
sudokuru/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
sudokuru/web-build/

# macOS
sudokuru/.DS_Store

sudokuru/.vercel
